# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
1. List popular languages for Data Science
2. List popular libraries for Data Science
3. List popular tools for Data Science
4. Arithmetic Expression
5. Time Conversion

Some of the popular languages that Data Scientists use are:
1. Python
2. R language
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. seaborn
3. scikitlearn
4. pandas
5. Numpy
6. ggplot

|s/n | Data Science Tool|
|----|:----------------:|
|1   |Jupyter Notebook  |
|2   |Apache Spark      |
|3   |IBM Watson        |
|4   |R Studio          |
|5   |Keras             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [2]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Aisha Rahim